# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/

# idea folder
.idea/

# User folders
data/
input/
output/

# User files
acronymate_config.json
benckmark.py

# Hidden docx files
*~*.docx

# Pyinstaler
pyinstaller/
*.spec